{% extends 'base.html' %}
{% load static %}

{% block head %}

<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
></script>

<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/stock-detail.css' %}"
/>

<script defer src="{% static 'js/stock-detail.js' %}"></script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/stock-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="stock-container">
  <div class="stock-img">
    {% if stock.photo.url %}
      <img 
        src="{{stock.photo.url}}" 
        alt="A photo of {{stock.name}}"
        class="usr-img"
      >
    {% else %}
      <img 
        src="" 
        alt=""
      >
    {% endif %}
  </div>
  <div class="stock-details">
    <h1>{{ stock.name }}</h1>
    
      <h2>Ticker: {{stock.ticker}}</h2>
    
      <h2>Purchase Price: {{stock.purchase_price}}</h2>

      <h2>Volume: {{stock.volume}}
      <a href="{% url 'stocks_update' stock.id %}" class="btn warn">Edit</a>
      <a href="{% url 'stocks_delete' stock.id %}" class="btn danger">Delete</a>
    
    {% comment %} <div class="stock-actions">
      
    </div> {% endcomment %}
    
  </div>
</section>

<div class="orders-client-container">
  <section class="orders">
    <div class="subsection-title">
      <h2>ORDERS</h2>
      
    </div>
    <h3>Add an order:</h3>
    <form
      action="{% url 'add_order' stock.id %}"
      method='post'
      class='subsection-content'
      autocomplete='off'
    >
      {% csrf_token %}
      <p>Date: {{order_form.date}}</p>
      
      <p>Time: {{order_form.time}}</p>
    
      <p>Quantity: {{order_form.qty}}</p>

      <button type="submit" class='btn submit'>Add order</button>
    </form>
    
    <h3>Orders Placed</h3>
    {% if stock.order_set.all.count %}
    <table>
      <thead>
        <tr><th>Date</th><th>Time</th><th>Quantity</th></tr>
      </thead>
      <tbody>
        {% for order in order_pending %}
        {% comment %} {% if order.order_pending %} {% endcomment %}
          <tr>
            <td>{{order.date}}</td>
            <td>{{order.time}}</td>
            <td>{{order.qty}}</td>
          </tr>
          {% comment %} {% endif %} {% endcomment %}
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <h3 class="subsection-content">{{stock.name}} has no orders pending</h3>
    {% endif %}
  </section>
  
  <section class="clients">
    
    <h3>{{ stock.name }}'s clients</h3>
    <div class="subsection-content">
      {% if stock.clients.count %}
        {% for client in stock.clients.all %}
          <div class="client-container">
          
            <a href="{% url 'clients_detail' client.id %}">
              <p>Client Name: {{client.name}}</p>
              <p>Net Worth: {{client.worth}}
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-clients">{{stock.name}} doesn't have any clients</p>
      {% endif %}
    </div>
    <h3>Available clients</h3>
    <div class="subsection-content">
      {% if clients.count %}
        {% for client in clients.all %}
        <div class="client-container">
          <div 
            class="color-block"
            style=""
          ></div>
          <a href="{% url 'clients_detail' client.id %}">
            <p>{{ client.name }}</p>
          </a>
          <form action="{% url 'assoc_client' stock.id client.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn submit">Assign client</button>
          </form>
        </div>
        {% endfor %}
      {% else %}
        <p class="all-clients">
          No more clients
        </p>
      {% endif %}
    </div>
  </section>
</div>


{% endblock %}